.data {
    text-align: center;
}
.dark-modal .modal-content {
    background-color: #161923;
    color: rgb(255, 255, 255);
}

.dark-modal .form-control {
    color: white;
    height: 35px;
    background-color: #1f2431;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
